


        <a class="nav-link" href="/">Home </a>

        <p> Icasei Test Rastreamente </p>

        <a class="nav-link" href="/test">Test</a>

        <p class="nav-link"><%= link_to 'Contact', new_contact_path %></p>

        <a class="nav-link" href="/guests">Visitors </a>
