<p>Pease fill in your name and email here so we can get in touch with you!</p>

<%= simple_form_for(@contact) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.submit %>
<% end %>
