<!DOCTYPE html>
<html>
  <head>
    <title>JH TEST ICASEI</title>
  </head>

  <body>
    <%= render 'shared/common_links' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
</html>

